<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'tasks/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="center-column">
    <p> Are you sure you want to delete - <b>{{item}}</b> ?</p>
    <div class="form-control">
        <a href="{% url 'list' %}" class="can-btn">Cancel</a>
    </div>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" name="confirm" class="btn btn-sm btn-danger">
    </form>

</div>
</body>
</html>